body {
    background-color: skyblue;
}
#container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: 960px;
}
#buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 8px;
    height: 960px;
}
#squareContainer {
    display: flex;
    width: 960px;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.rows {
    height: 960px;
}
.square {
    background-color: white;
}
button {
    font-size: 36px;
    padding: 8px;
}